<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>livers</title>
  </head>
  <body>
    <div id="container">
      <nav>
        <ul>
          <% if (user) { %>
          <li><a href="/">Home</a></li>
          <li><a href="/show-profile-user/<%= user._id %>">Profile</a></li>
          <li><a href="/add-book/<%= user._id %>">Ajouter un livre</a></li>
          <li id="deconnecter"><a href="/logout">Déconnecter</a></li>

          <% }else{ %>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Se Connecter</a></li>
          <li><a href="/register">S'enregistrer</a></li>
          <% } %>
        </ul>
      </nav>
    </div>
  </body>
</html>
